/* Clock */
@font-face {
    font-family: "style-7";
    src: url("thin_pixel-7.ttf");
}

#panel{
	display: inline-block;
	float: left;
}

#clock{
	font-family: style-7;
	color: #be9b7b;
	font-size: 10em;
}

body {
	background-color: #4b3832;
}

#cow {
	display: inline-block;
	float: right;
	color: #be9b7b;
	white-space: pre;
	font-family: Source Code Pro;
	font-size: 14px;
}

.linkmage {
	width: 150px;
	height: 150px;
	border: 2px solid transparent;
}

.linkmage:hover{
	border: 2px solid #be9b7b;
	border-radius: 5px;
}
/* Google */

/***********************
 * Essential Structure *
 ***********************/
.flexsearch--wrapper {
  height: auto;
  width: auto;
  max-width: 100%;
  overflow: hidden;
  background: transparent;
  margin: 0;
  position: static;
}

.flexsearch--form {
  overflow: hidden;
  position: relative;
}

.flexsearch--input-wrapper {
  padding: 0 66px 0 0;
  /* Right padding for submit button width */
  overflow: hidden;
}

.flexsearch--input {
  width: 100%;
}

/***********************
 * Configurable Styles *
 ***********************/
.flexsearch {
  width: 90%;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  /* Padding for other horizontal elements */

}

.flexsearch--input {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 30px;
  margin-bottom: 10px;
  padding: 0 46px 0 10px;
  border-color: #3c2f2f;
  border-radius: 25px;
  /* (height/2) + border-width */
  border-style: solid;
  border-width: 3px;
  margin-top: 15px;
  color: #333;
  font-family: 'Source Code Pro', sans-serif;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #fff4e6;
}

input.flexsearch--input {}

.flexsearch--submit {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
  margin-top: 20px;
  /* margin-top + border-width */
  margin-right: 10px;
  /* border-width */
  background: transparent;
  color: #3c2f2f;
  font-family: 'Helvetica', sans-serif;
  font-size: 25px;
  /* line-height: 60px; */
}

.flexsearch--input:focus {
  outline: none;
  border-color: #333;
}

.flexsearch--input:focus.flexsearch--submit {
  color: #333;
}

.flexsearch--submit:hover {
  color: #333;
  cursor: pointer;
}

::-webkit-input-placeholder {
  color: #3c2f2f;
}

input:-moz-placeholder {
  color: #3c2f2f;
}

/****************
 * Pretify demo *
 ****************/
.h1 {
  float: left;
  margin: 25px;
  color: #333;
  font-family: 'Helvetica', sans-serif;
  font-size: 45px;
  font-weight: bold;
  line-height: 45px;
  text-align: center;
}


table {
	float: right;
}

/* Weather */
#weather-container {
	overflow: hidden;
	clear: left;
	position:relative;
}

.forecast-wrapper{
	float: left;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.forecast{
	display: inline-block;
	position: relative;
	margin-top: 10px;
}

.weather-image{
	float: left;
	height: 4em;
	width: 4em;
	margin-right: 10px;
}

.weather-text-wrapper{
	position: relative;
	float: left;
	display: inline-block;
}

.forecast span{
	font-family: Source Code Pro;
	color: #be9b7b;
	display: block;
	font-size: 13px;
}

.forecast .day {
	font-size: 17px;
	color: #fff4e6;
}

/* Today's larger */
.forecast:first-child .weather-image{
	height:  8em;
	width: 8em;
}

.forecast:first-child span{
	font-size: 20px;
}

.forecast:first-child .day {
	font-size: 25px;
}