<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:600' rel='stylesheet' type='text/css'>
	<link href="static/home.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<p id="cow">{{ cowsay }}</p>

<!-- Google -->

<div class="flexsearch">
		<div class="flexsearch--wrapper">
			<form class="flexsearch--form" method="get" action="http://www.google.com/search">
				<div class="flexsearch--input-wrapper">
					<input class="flexsearch--input" type="text" name="q" placeholder="search">
				</div>
				<input class="flexsearch--submit" type="submit" value="&#10140;"/>
			</form>
		</div>
</div>

<!-- /Google -->

<!--links-->

<table>
	<tr>
		<td id="reddit">
			<a href="http://www.reddit.com"> 
			<img class="linkmage" src="static/reddit.png"> 
			</a>
		</td>
		<td id="facebook">
			<a href="http://www.facebook.com">
			<img class="linkmage" src="static/facebook.png">
			</a>
		</td>
	</tr>
</table>
</body>
</html>